<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.meizu.mstore" platformBuildVersionCode="23" platformBuildVersionName="6.0-2704002">
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.meizu.flyme.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.meizu.flyme.launcher.permission.READ_SETTINGS"/>
    <permission android:name="com.meizu.cloud.appcommon.write.settings" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.appcenter.recommend" android:protectionLevel="normal"/>
    <permission android:name="com.meizu.flyme.appcenter.license.WRITE" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.appcenter.license.READ" android:protectionLevel="signature"/>
    <permission android:name="com.meizu.flyme.appcenter.permission.EXTERNAL_INSTALL" android:protectionLevel="signature"/>
    <permission android:description="@string/checkupdate_permission_description" android:name="com.meizu.mstore.permission.CHECK_UPDATE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.license.WRITE"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.license.READ"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.meizu.mstore.permission.CHECK_UPDATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <permission android:name="com.meizu.mstore.permission.appdownload"/>
    <uses-permission android:name="com.meizu.mstore.permission.appdownload"/>
    <permission android:name="com.meizu.mstore.push.permission.MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.mstore.push.permission.MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ROOT_RECOVERY_STATE"/>
    <uses-permission android:name="flyme.permission.ROOT_RECOVERY_STATE"/>
    <permission android:name="com.meizu.flyme.appcenter.permission.action.perform" android:protectionLevel="signature"/>
    <uses-permission android:name="com.meizu.flyme.appcenter.permission.action.perform"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="com.meizu.safe.permission.bind.MzSecMainService"/>
    <uses-permission android:name="com.meizu.safe.permission.default_protect"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.meizu.flyme.permission.UPDATE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="com.meizu.stats.permission.READ_USAGESTATS"/>
    <uses-permission android:name="com.meizu.stats.permission.WRITE_USAGESTATS"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <application android:allowBackup="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="false" android:name="com.meizu.flyme.appcenter.AppCenterApplication" android:supportsRtl="true" android:theme="@style/AppTheme">
        <meta-data android:name="domain" android:value="app"/>
        <meta-data android:name="android.nfc.disable_beam_default" android:value="true"/>
        <meta-data android:name="android.3dtouch.launcher_menu" android:resource="@xml/launcher_menu"/>
        <activity android:configChanges="orientation|screenSize" android:exported="true" android:label="@string/app_name" android:name="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:theme="@style/AppMainTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_MARKET"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.setup.DOWNLOAD_NOTIFY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sdk.meizu.compaign.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.meizu.flyme.appcenter.activitys.AppMainTabActivity" android:targetActivity="com.meizu.flyme.appcenter.activitys.AppMainActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.meizu.flyme.appcenter.activitys.AppSecondActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.secondActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="goto" android:pathPrefix="/h5_ext" android:scheme="mstore"/>
                <data android:host="goto" android:pathPrefix="/activity" android:scheme="mstore"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.event"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.special"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.html"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.updaterecord"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.html.ext"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.update"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:name="com.meizu.flyme.appcenter.activitys.AppSecondDetailActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:theme="@style/AppDetailTransparentTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.detail"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="details" android:scheme="market"/>
                <data android:host="details" android:scheme="mstore"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/apps/public/detail*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/phone/apps/*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/games/public/detail*" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="mz_ad_com.meizu.mstore"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="sdk.meizu.compaign.EXECUTOR"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/download" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/pay" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/share" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/review" android:scheme="task"/>
                <data android:host="com.meizu.mstore" android:pathPrefix="/launch" android:scheme="task"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.meizu.flyme.appcenter.action.perform.activity" android:permission="com.meizu.flyme.appcenter.permission.action.perform" android:targetActivity="com.meizu.flyme.appcenter.activitys.AppSecondDetailActivity">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.action.perform"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="app.meizu.com" android:pathPattern="/apps/public/detail*" android:scheme="http"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.meizu.flyme.appcenter.activitys.AppSecondDownloadActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.app.download.manage"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:allowTaskReparenting="true" android:configChanges="orientation|screenSize" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppSecondSearchActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppMainActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.search"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="search" android:scheme="market"/>
                <data android:host="search" android:scheme="mstore"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.meizu.mstore" android:path="/search" android:scheme="flyme_3dtouch"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppWizardActivityV3" android:screenOrientation="portrait" android:theme="@style/Theme.NoSmartBar" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.wizard.activity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.meizu.mstore.wizard.category"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/settings" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppSettingsPreferenceActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.setting"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/about" android:launchMode="singleTop" android:name="com.meizu.cloud.app.settings.SettingAboutActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/mobile_network_setting" android:launchMode="singleTop" android:name="com.meizu.cloud.app.settings.SettingMobileActivity" android:parentActivityName="com.meizu.flyme.appcenter.activitys.AppSettingsPreferenceActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.setting.limit"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppPromptDownloadActivity" android:theme="@style/AppAlertDialog">
            <intent-filter>
                <action android:name="meizu.intent.action.APP_DOWNLOAD_PROMPT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:finishOnCloseSystemDialogs="true" android:launchMode="singleTop" android:name="com.meizu.flyme.appcenter.activitys.AppJumpThirdAppOverPeddingActivity" android:theme="@style/AppAlertDialog">
            <intent-filter>
                <action android:name="meizu.intent.action.JUMP_THIRD_APP_OVER_PEDDING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.meizu.cloud.app.activity.FullScreenImageActivity" android:screenOrientation="fullUser" android:theme="@style/TranslucentTheme" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name="com.meizu.cloud.app.update.exclude.AppUpdateExcludeActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="com.meizu.cloud.app.update.exclude"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.meizu.mstore.wxapi.WXEntryActivity"/>
        <activity android:label="@string/app_name" android:name="com.meizu.flyme.appcenter.activitys.FirstAdActivity" android:screenOrientation="fullUser" android:theme="@style/FirstAdActivityTheme" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.meizu.flyme.appcenter.clean.CleanSurfaceActivity" android:screenOrientation="portrait" android:theme="@style/DialogTransparent">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.cleanSurface"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.meizu.flyme.appcenter.activitys.AppCameraActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.meizu.mstore.activity.camera"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="com.meizu.flyme.appcenter.service.AppSearchService">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.searchapp"/>
            </intent-filter>
        </service>
        <service android:name="com.meizu.flyme.appcenter.service.LicensingService">
            <intent-filter>
                <action android:name="com.meizu.mstore.license.ILicensingService"/>
            </intent-filter>
        </service>
        <service android:name="com.meizu.cloud.app.service.MultiAppDeleteService" android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.meizu.cloud.app.service.MultiAppDeleteService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.meizu.cloud.app.downlad.AppDownloadService" android:persistent="true">
            <intent-filter>
                <action android:name="com.meizu.mstoreSchem.AppDownloadService"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.meizu.flyme.appcenter.aidl.AidlCommonService">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.AidlCommonService"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.meizu.flyme.appcenter.recommend" android:exported="true" android:name="com.meizu.flyme.appcenter.recommend.RecommendProvider" android:permission="com.meizu.flyme.appcenter.recommend"/>
        <provider android:authorities="com.meizu.cloud.app.update.exclude" android:exported="true" android:label="@string/app_name" android:name="com.meizu.cloud.app.update.exclude.AppUpdateExcludeProvider" android:writePermission="com.meizu.cloud.appcommon.write.settings"/>
        <provider android:authorities="com.meizu.cloud.appcommon.settings" android:exported="true" android:label="@string/app_name" android:name="com.meizu.cloud.app.settings.SettingsPreferencesProvider" android:writePermission="com.meizu.cloud.appcommon.write.settings"/>
        <receiver android:name="com.meizu.cloud.push.AppPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <action android:name="com.meizu.flyme.push.intent.MESSAGE"/>
                <category android:name="com.meizu.mstore"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.meizu.cloud.app.receiver.AppStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.meizu.cloud.app.receiver.UpdateCheckReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.center.check.update"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.cloud.center.ignore.update"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.cloud.center.execute.update"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.meizu.cloud.app.receiver.ExportedReceiver">
            <intent-filter>
                <action android:name="com.meizu.mstore.check.apps.update"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.push.SysAppPushReceiver">
            <intent-filter>
                <action android:name="com.meizu.mstore.intent.mappsupdate"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.base.app.receiver.BootCompletedReceiver" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.setup.DOWNLOAD_NOTIFY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.cloud.app.update.ConditionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="auto.update.action"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.meizu.cloud.app.receiver.LaunchReceiver">
            <intent-filter>
                <action android:name="com.meizu.cloud.appcommon.intent.LAUNCH_APP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.mstore.intent.JUMP_THIRD_APP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.meizu.cloud.appcommon.intent.LAUNCH_APP_DETAIL"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.meizu.flyme.appcenter.receiver.ExternalInstallReceiver" android:permission="com.meizu.flyme.appcenter.permission.EXTERNAL_INSTALL">
            <intent-filter>
                <action android:name="com.meizu.flyme.appcenter.intent.EXTERNAL_INSTALL"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.meizu.update.display.KeyguardHelperActivity" android:theme="@style/MzucActivityNoDisplay"/>
        <activity android:launchMode="singleTop" android:name="com.meizu.cloud.app.share.AppShareActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"/>
        <service android:exported="false" android:name="com.meizu.update.service.MzUpdateComponentService" android:stopWithTask="false"/>
        <service android:exported="true" android:name="com.meizu.cloud.pushsdk.NotificationService"/>
        <service android:name="com.meizu.cloud.app.jobscheduler.JobSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:name="com.meizu.gslb.push.GslbDataRefreshReceiver">
            <intent-filter>
                <action android:name="com.meizu.flyme.gslb.push.broadcast"/>
            </intent-filter>
        </receiver>
        <activity android:launchMode="standard" android:name="com.meizu.sharewidget.activity.ShareViewGroupActivity" android:theme="@style/Theme.Flyme.Share.Day"/>
    </application>
</manifest>
